/* GENERAL STYLE */
* {
	border: none;
	border-radius: 3px;
	font-family: "Ubuntu";
	font-size: 15px;
}

/* WAYBAR WINDOW */
window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

/* MODULE GROUPS */
.modules-right {
	background: rgba(0.1, 0.1, 0.1, 0.7);
	margin-top: 3px;
}

.modules-center {
	background: rgba(0.1, 0.1, 0.1, 0.7);
	margin-top: 3px;
}

.modules-left {
	background: rgba(0.1, 0.1, 0.1, 0.7);
	margin-top: 3px;
}

/* GENERAL MODULE STYLE */
.module {
	background: transparent;
	/*margin-top: 4px;*/
	/*margin-bottom: 4px;*/
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 4px;
	padding-right: 4px;
	min-width: 30px;
}

/* CONCRETE MODULES */
#custom-leftspacer {
	margin-left: 4px;
}

#custom-rightspacer {
	margin-right: 4px;
}

#workspaces {
	transition: none;
	background: #191724;
}

#workspaces button {
	color: #e0def4;
	background: transparent;
	/*background: #191724;*/
	font-weight: bold;
	border-radius: 0px;
	min-width: 20px;
	border-bottom: 2px solid #191724;
}

#workspaces button.active.visible {
	color: #f6c177;
	border-bottom: 2px solid #f6c177;
}

#workspaces button.visible {
	color: #ABE9B3;
	border-bottom: 2px solid #ebbcba;
	/*border-top: 2px solid #ABE9B3;*/
	/*border-bottom: 2px solid #ABE9B3;*/
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	/*border-color: #f6c177;*/
	/*border-width: 2px;*/
	color: #ea9d34;
}

#workspaces button.focused:hover {
	color: #E8A2AF;
}

#network {
	color: #161320;
	background: #bd93f9;
}

#pulseaudio {
	color: #1A1826;
	background: #FAE3B0;
	font-weight: bold;
}

#battery {
	color: #161320;
	background: #B5E8E0;
}

#battery.charging, #battery.plugged {
	color: #161320;
	background-color: #B5E8E0;
}

#battery.critical:not(.charging) {
	background-color: #B5E8E0;
	color: #161320;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes blink {
	to {
		background-color: #BF616A;
		color: #B5E8E0;
	}
}

#backlight {
	color: #161320;
	background: #F8BD96;
}

#clock {
	color: #161320;
	background: #ABE9B3;
	font-weight: bold;
}

#memory {
	color: #161320;
	background: #DDB6F2;
}

#cpu {
	color: #161320;
	background: #96CDFB;
}

#disk {
	color: #161320;
	background: #FAE3B0;
}

#tray {
	color: #B5E8E0;
	background: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    background-color: #171717;
    color: #ffffff;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #171717;
    color: #ffffff;
}

#taskbar {
	background: transparent;
}

#custom-launcher {
	font-size: 25px;
	color: #2fba77;
	background: transparent;
}

#custom-wallpaper {
	color: #161320;
	background: #C9CBFF;
}

#custom-updates {
	color: #161320;
	background: #E8A2AF;
}

#mpris {
	color: #e0def4;
	background: #F2CDCD;
	font-weight: bold;
	background: #191724;
}

#mpris.spotify {
	color: #191414;
	background: #1db954;
}

#mpris.chromium {
	color: white;
	background: #105699;
}

#mpris.brave {
	color: white;
	background: #eb4a2b;
}

#mpris.vlc {
	color: #191414;
	background: #f79301;
}

#language {
	color: #161320;
	background: #ABE9B3;
	/*background: #1A1826;*/
	font-weight: bold;
}

#bluetooth {
	color: #1A1826;
	background: #FAE3B0;
	font-weight: bold;
}

#gamemode {
	color: #1A1826;
	background: #FAE3B0;
}

